body {
    line-height: 1; }
  
ol, ul {
    list-style: none; }
    
    .wrap {
        width: 1200px;
        margin: 0 auto; }

        #horizontal{
            padding:0;
            margin:0;
            list-style-type:none;
            display: block;
            margin-left:30px;
            float:left; 
    }
    table {
        border: medium solid #000000;
        border-collapse: collapse;
        width: 100%;
        }
        
        th {
        font-family: monospace;
        border: thin solid #000000;
        width: 30%;
        height: 70px;
        padding: 5px;
        background-color: #D0E3FA;
        
        }
        td {
        font-family: sans-serif;
        border: thin solid #000000;
        width: 30%;
        height: 70px;
        padding: 5px;
        text-align: center;
        background-color: #ffffff;
        }
        #couleurTableau{
            background-color: grey;
            height: 100px;
        }

        .image {
            width: 250px;
        }

        
        #header {
            background: url("img2/header.png") repeat;
            height: 72px; 
        }


        #subheader {
            background: url("img2/subheader.png") repeat;
            height: 45px; }



        #footer {
            position: relative;
            margin-top: -57px;
            negative: value of footer height;
            height: 57px;
            clear: both;
            background: url("img2/footer.png") repeat; 
        } 

       

#image_posi{    
 background-position: center;
 background-size: cover;
 min-height: 100%;
}